body{
    background-color: rgb(1, 1, 55);
    color: white;
    
    text-align: center;
    
}

.col-sm-12{
    font-size: 20px;
    letter-spacing: 3px;
}

/*.row{
    display: flex;
    justify-content: space-between;
} */

.lower{
    font-size: 16px;
}
/*
@media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
}

@media (min-width: 550px) {
    .container {
      width: 80%; }
}*/


@media (min-width: 1200px) {
    .container {
        width: 50%;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 85%;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 85%;
        font-size: 20px;
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
        font-size: 20px;
    }
}


@media (max-width: 400px) {
    .container {
        width: 85%;
        font-size: 25px;    
    }
}

@media (max-width: 300px){
    .container{
        width: 85%;
        font-size: 20px;
    }
}









